
 
 
 <center> <img src="/assets/<%= @digesty%>.jpg" class="img-responsive img-" alt=""></center>
               <center> <h4><%=@coco%>님 영화<%= @moviename %> 어때요? </h4></center>
               <center> <iframe src="<%=@first_pic%>"  width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe> </center>
            
            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<div class="panel panel-default">
  <center> <div class="panel-body" style="max-width: 1100px;">
      <h2> <%=@explain%> </h2>
  </div></center>
</div>


      
               
               